rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // 식사 사진
    match /meals/personal-user/{fileName} {
      allow read, write: if true;
    }
    // ⭐ 인바디 결과지 (사진/PDF)
    match /inbody/personal-user/{fileName} {
      allow read, write: if true;
    }
  }
}
